h1 {
  font-family: "Biryani", sans-serif;
  text-align: center;
  padding: 10px;
  background-color: #09494e;
  color: white;
}
.menthol {
  font-family: "Biryani", sans-serif;
  color: #00ff90;
}
body {
  width: 900px;
  margin: auto;
}
.stories {
  text-align: center;
}
