h1 {
  margin-top: 50px;
  font-family: "Biryani", sans-serif;
  text-align: center;
  padding: 5px;
  background-color: blueviolet;
  color: white;
}
body {
  margin: auto;
  background-image: url(inside-outside.png);
  background-size: 20%;
  background-repeat: repeat;
}
p {
  text-align: center;

  background: rgba(51, 170, 51, 0.1);
}
.navbar {
  background-color: #4671c5;
}
.navbar-brand {
  font-family: "Parisienne", cursive;
  font-size: 40px;
  color: #ff1efb;
}
.nav-link {
  font-family: "Parisienne", cursive;
  font-size: 20px;
  color: #fda6fe;
}

.dropdown-item {
  font-family: "Parisienne", cursive;
  font-size: 20px;
  color: #fda6fe;
}
.footy {
  background-color: #09494e;
  text-align: center;
  padding: 20px;
}
.container {
  max-width: 900px;
}
